#header h1 {
  background-image: url('/assets/images/egaritas-logo.svg');
  background-repeat: no-repeat;
  display: block;
  width: 100%;
  height: 121px;

  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
